.input-wrapper {
  @apply flex flex-col space-y-1 w-full;

  label {
    @apply text-sm font-medium text-gray-700;
  }

  input, p-password {
    @apply w-full rounded-lg border border-gray-300 px-3 py-2 bg-blue-50;
  }

  .error small {
    @apply text-red-500 text-xs mt-1;
  }
}
