<div>
<div class="w-[400px]">
    <form [formGroup]="this.url_form" (ngSubmit)="form_submit()">
        <app-input formControlName="url_input"></app-input>
        <div>
            <app-button
            [label]="'Add URL'"
            [disabled]="this.url_form?.invalid"
            ></app-button>
        </div>
    </form>
</div>

<div class="mt-4">
    <form [formGroup]="this.search_form">
        <app-input formControlName="search_input" [placeholder]="'Search...'"></app-input>
    </form>
</div>
<div class="mt-2">
    <app-common-table [table_data]="urls"></app-common-table>
</div>
</div>