@tailwind base;
@tailwind components;
@tailwind utilities;

// @use "primeng/resources/themes/lara-light-blue/theme.css";
// @use "primeng/resources/primeng.css";
// @use "primeicons/primeicons.css";
