<div class="input-wrapper">

  <label *ngIf="label">{{ label }}</label>

  <p-password
    class="w-full"
    [placeholder]="placeholder"
    [toggleMask]="true"
    [feedback]="false"
    [disabled]="disabled"
    [ngModel]="value"
    (ngModelChange)="onChange($event)"
    (onBlur)="onTouched()"
  ></p-password>

  <!-- Auto Validation Messages -->
  <div class="error" *ngIf="control?.invalid && control?.touched">
    <small *ngIf="control?.errors?.['required']">Password is required</small>
    <small *ngIf="control?.errors?.['minlength']">
      Minimum length is {{ control?.errors?.['minlength'].requiredLength }}
    </small>
    <small *ngIf="control?.errors?.['pattern']">
      Must include uppercase, lowercase, digit & special character
    </small>
  </div>
</div>
